spring:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/login
    username: root
    password: dkssud3857!!
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true

logging:
  level:
    org.hibernate.sql: debug
    org.hibernate.type: trace

# μ•”νΈν™”
springboot:
  jwt:
    secret: h1o2n3gg5i6l7d8o9n0g;h1o2n3gg5i6l7d8o9n0g
